<div class="ui container " style="padding-top: 18px;">

  <h1 class="ui header">Dashboard</h1>

  <div class="ui vertical one column segment grid centered">
    <div class="ui column">
      <div class="ui two statistics">
        <div class="statistic" ng-class="{green: dataService.getStatus().index < 0 && !dataService.reloadQueued}">
          <div class="value">
            <span ng-if="dataService.getStatus().index < 0 && !dataService.reloadQueued">IDLE</span>
            <span ng-if="dataService.reloadQueued">REFRESHING</span>
            <span ng-if="dataService.getStatus().index >= 0"> <i class="setting loading icon"></i></span>
          </div>
          <div class="label">
            Status
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{dataService.serverStats.prettyMemUsage}}
          </div>
          <div class="label">
            Mem Free
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="ui vertical segment">
    <h3 class="ui header">Latest runs</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th class="four wide">Name</th>
          <th class="five wide">Tags</th>
          <th class="four wide">Started</th>
          <th class="one wide">Version</th>
          <th class="two wide">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="run in dataService.getHistory()">
          <td>{{run.definition.name}}</td>
          <td>
            <div class="ui label" ng-repeat="tag in run.tags" style="margin-bottom: 3px;">
              {{tag}}
            </div>
          </td>
          <td>{{run.startMom.fromNow()}}</td>
          <td>{{run.version}}</td>
          <td ng-class="{positive: run.status == 0, negative: run.status < 0}"><i class="icon" ng-class="{checkmark: run.status == 0, remove: run.status < 0}"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
