<div class="ui container " style="padding-top: 18px;">

  <h1 class="ui header">Dashboard</h1>

  <div class="ui vertical one column segment grid centered">
    <div class="ui column">
      <div class="ui three statistics">
        <div class="statistic green">
          <div class="value">
            IDLE
          </div>
          <div class="label">
            Status
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            192Mb
          </div>
          <div class="label">
            Mem Free
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            19 hours
          </div>
          <div class="label">
            Uptime
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="ui vertical segment">
    <h3 class="ui header">Latest builds</h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No Name Specified</td>
          <td>Unknown</td>
          <td class="negative">None</td>
        </tr>
        <tr class="positive">
          <td>Jimmy</td>
          <td><i class="icon checkmark"></i> Approved</td>
          <td>None</td>
        </tr>
        <tr>
          <td>Jamie</td>
          <td>Unknown</td>
          <td class="positive"><i class="icon close"></i> Requires call</td>
        </tr>
        <tr class="negative">
          <td>Jill</td>
          <td>Unknown</td>
          <td>None</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
