<div class="ui container " style="padding-top: 18px;">

  <h3 class="ui right floated header" ng-click="edit()" style="cursor: pointer;">
    <i class="large edit icon"></i>
  </h3>

  <h1 class="ui header"><i class="icon" ng-class="defObject.icon" ng-if="defObject.icon"></i>{{defObject.name}}</h1>

  <div class="ui grid" style="margin-top: 11px;">



    <div class="nine wide column stretched">
      <h4 class="ui header" style="flex-grow: 0;">Summary</h4>

      <div class="ui divided list" style=" flex-grow: 0; top: 0px;">
        <div class="item">
          <i class="large cloud icon" style="min-width: 40px;"></i>
          <div class="content">
            <p class="header">Package dependencies</p>
            <div class="description">
              <div class="ui label" ng-repeat="package in defObject['apt-packages-required']">
                {{package}}
              </div>
              <div ng-if="defObject['apt-packages-required'] == null || defObject['apt-packages-required'].length == 0">
                <i>None</i>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <i class="large folder icon" style="min-width: 40px;"></i>
          <div class="content">
            <p class="header">Base Folder</p>
            <div class="description" ng-bind="defObject['base-folder']" ng-if="defObject['base-folder'].length > 0"></div>
            <div class="description" ng-if="defObject['base-folder'] == null || defObject['base-folder'].length == 0"><i>None</i></div>
          </div>
        </div>
        <div class="item">
          <i class="large code icon" style="min-width: 40px;"></i>
          <div class="content">
            <p class="header">Git Source</p>
            <div class="description" ng-bind="defObject['git-src']" ng-if="defObject['git-src'].length > 0"></div>
            <div class="description" ng-if="defObject['git-src'] == null || defObject['git-src'].length == 0"><i>None</i></div>
          </div>
        </div>
        <div class="item">
          <i class="large archive icon" style="min-width: 40px;"></i>
          <div class="content">
            <p class="header">Last run</p>
            <div class="description">
              <div class="ui label" ng-if="defObject['last-version'] == undefined || defObject['last-version'] == null || defObject['last-version'] == ''">Unknown</div>
              <span ng-if="defObject['last-version']">Version {{defObject['last-version']}}<span ng-if="defObject['last-run-time']">, Runtime: {{parseDuration(defObject['last-run-time'])}}</span></span>
            </div>
          </div>
        </div>
        <div class="item">
          <i class="large dashboard icon" style="min-width: 40px;"></i>
          <div class="content">
            <p class="header">Status</p>
            <div class="description" ng-if="isRunning()">Running ... <i class="setting loading icon"></i></div>
            <div class="description" ng-if="!isRunning() && isOtherDefinitionRunning()">Server busy</i></div>
            <div class="description" ng-if="!isRunning() && !isOtherDefinitionRunning() && !buildQueued">Ready</i></div>
            <div class="description" ng-if="!isRunning() && !isOtherDefinitionRunning() && buildQueued">Waiting for run slot</i></div>
          </div>
        </div>
      </div>

      <div style="flex-grow: 1;"></div>

      <div class="ui buttons" style="flex-grow: 0;">
        <button class="ui icon button medium" ng-class="{loading: buildQueued||running, disabled: buildQueued||running}" ng-click="runOptions()">
          <i class="right wizard icon"></i>
          Run with options
        </button>
        <button class="ui icon button medium blue" ng-class="{loading: buildQueued||running, disabled: buildQueued||running}" ng-click="run()">
          <i class="right setting icon"></i>
          Run
        </button>
      </div>


    </div>




    <div class="seven wide column">
      <h4 class="ui header">Steps</h4>
      <div class="ui fluid vertical steps" style="margin-top: 0px;">

        <div class="step">
          <i class="trash icon"></i>
          <div class="content">
            <div class="title">Clean workspace</div>
            <div class="description">Empties build area.</div>
          </div>
        </div>


        <div class="step" ng-if="defObject['apt-packages-required'].length > 0">
          <i class="cloud icon"></i>
          <div class="content">
            <div class="title">Install package dependencies</div>
            <div class="description">Fetch and install any missing packages.</div>
          </div>
        </div>

        <div class="step" ng-if="defObject['git-src'].length > 0">
          <i class="fork icon"></i>
          <div class="content">
            <div class="title">Fetch git</div>
            <div class="description">Pull git-src respository into the workspace.</div>
          </div>
        </div>


        <div class="step" ng-if="defObject['base-folder'].length > 0">
          <i class="copy icon"></i>
          <div class="content">
            <div class="title">Install base</div>
            <div class="description">Copy base files into the workspace.</div>
          </div>
        </div>

        <div class="step" ng-repeat="step in defObject.steps" ng-if="!step['hide-from-steps']">
          <i class="icon" ng-class="getStepIcons(step.type)"></i>
          <div class="content">
            <div class="title">{{getStepTitle(step.type)}}</div>
            <div class="description">{{getStepDetail(step)}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <h3 class="ui horizontal divider header">
    <i class="settings icon"></i>
    Run output
  </h3>

  <div id="output-container" style="margin-top: 6px;">

    <div class="ui basic segment" ng-repeat="phase in phases track by $index" ng-if="phase.start != '0001-01-01T00:00:00Z'">
      <h5 class="ui header" style="flex-grow: 0;">{{getPhaseTitle(phase) | uppercase}} <i class="setting loading icon" ng-if="phase.end == '0001-01-01T00:00:00Z'"></i></h5>
      <pre ng-bind="content[$index]">{{line}}</pre>
      <div ng-if="phase.end != '0001-01-01T00:00:00Z'">
        <div class="ui label" ng-class="{teal: (phase.errorCode==0), red: ((phase.errorCode!=0)&&(phase.errorCode!=-954321)), brown: (phase.errorCode==954321)}"><i class="code icon"></i> {{getCodeOutput(phase)}}</div>
        <div class="ui label"><i class="signal icon"></i> {{phase.status}}</div>
      </div>
    </div>

  </div>
</div>
